{% extends 'blogs/base.html' %}


{% block content %}

<div class="container mt-5">
  <h2 class="mb-4">New Post</h2>
<div class="">
    {%include 'blogs/includes/errors.html' %}

  <form method="POST" action="{% url 'main:newpost' %}">
    {% csrf_token %}
    
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Enter post title" value="{{ form.title.value|default:'' }}">
    </div>

    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea class="form-control" id="content" name="content" rows="5" value="{{form.content.valu|default:''}}" placeholder="Write your content here..."></textarea>
    </div>



    
    <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <select class="form-select" id="category" name="category">
        <option selected disabled>Select</option>
        {% if categories%}
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
        {% endif %}
    </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}


  